<div class="pst">
  <div class="row" >
    <div class="col-1">
      <img class="profile" [src]="profilepic">          
    </div>
    <div class="col-11">
      <p class="profname">{{ profile }}</p>
    </div>
  </div>
  <div>
    <img class="foto" [src]="url">
  </div>
  <div class="postco">
    <p class="like">{{ likes }}</p> <p class="like"> likes</p><br>
    <p class="descric"> {{descricao}}</p><br>
    <p class="coment negri">{{ commentprofile }}</p><p class="coment"> {{ commenttext }}</p><br>
    <p class="coment1 negri">{{ commentprofile }}</p><p class="coment1"> {{ commenttext }}</p><br>
    <p class="coment2 negri">{{ commentprofile }}</p><p class="coment2"> {{ commenttext }}</p><br>
    <p class="coment3 negri">{{ commentprofile }}</p><p class="coment3"> {{ commenttext }}</p>
  </div>
  <br>
</div>
<div class="cima">

</div>
